@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap");

body {
  font-family: "Titillium Web", sans-serif;
  margin: 0;
  font-size: 1.2rem;
  background-color: bisque;
}

.safe-side {
  padding-left: 1rem;
  padding-right: 1rem;
}

.center {
  max-width: 1200px;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.active {
  border-top: 2px solid grey;
}

/* Header Links Start */

.nav-links {
  margin: 0;
  padding: 0;
}
.nav-links li {
  list-style-type: none;
  display: inline-block;
  padding-right: 1rem;
}

.nav-links li:last-of-type {
  padding-right: 0;
}

nav {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-btn {
  border: none;
  background-color: inherit;
  font-size: 1.2rem;
  cursor: pointer;
  padding: inherit;
}

.logo {
  font-weight: 600;
  font-size: 1.8rem;
}
.logo::before {
  padding-left: 0;
}

/* Hero Start */

.hero {
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 1);
  padding: 1rem 0;
}

.blog-title {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.75rem;
}

.blog-punch {
  letter-spacing: 0.3rem;
}

/* main Starts */

.main-section-col {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-top: 1rem;
}

.aside-title {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-weight: 300;
}

.tag-items-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  gap: 1rem;
}

.tag-item {
  background-color: grey;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
}

.feed-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.feed-title h4 {
  margin: 0 1rem;
  font-weight: 300;
}

.post-section-container {
  display: flex;
  flex-direction: column;
}

.article-item {
  margin: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  border-top: 2px solid black;
}

.article-item:last-of-type {
  border-bottom: 2px solid black;
}

.article-profile-image {
  display: block;
  width: 40px;
  padding: 2px;
  border: 2px solid black;
  border-radius: 20px;
}

.post-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.name-container {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}

.article-title {
  margin-bottom: 0.2rem;
}

.article-description {
  text-align: justify;
}

.post-postscript {
  margin-top: 1rem;
  font-size: 0.9rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

/* Footer */

footer {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  justify-content: center;
}

.small-logo {
  font-size: 1.2rem;
  font-weight: 600;
}

.footer-container {
  position: absolute;
  bottom: 0;
  width: 100vw;
}

/* Sign in */

.sign-in {
  text-align: center;
}

.input-field {
  font-size: 2rem;
  background-color: bisque;
  border: 1px solid black;
  padding: 0.5rem 0.8rem;
  width: 100%;
}

.input-field::placeholder {
  color: rgb(207, 206, 206);
}

input:invalid {
  color: red;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

.form-container {
  max-width: 500px;
}

.sign-up {
  text-align: center;
}

.btn {
  padding: 1rem 1.5rem;
  font-size: 1.3rem;
}

.article-body {
  text-align: justify;
  line-height: 2.5rem;
}

textarea {
  width: 100%;
}

.profile-article-container {
  margin-top: 1rem;
}
